h1{
    color: rgb(255, 0, 0);
    font-family: bold;
    text-align: center;
}

b{
    text-align: center;
    color: rgb(5, 255, 5);
    font-size: 40px;
    font-family: monospace;
}
a{
    text-align: center;
    font-size: 40px;
}
p{
    text-align: center;
    font-size: 50px;
}
body {
    background-image: url(https://s22.picofile.com/file/8449387742/357123.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    text-decoration: none;
}
a{
    color:red
}
p1{
    font-size: 40px;
}
hr{
    border-width:5px;
    color: black;
}
#p2{
    text-align: left;
    font-size: 20px;
    left: 500px;
    line-height: 0px ;
}


