
.nav{
    width:98% ;
    height: 12%;
    background-color: black;
    margin: 5px;
    margin-right: 10px;
   margin-top: 0px;
   border-radius: 6px;
   border: 2px solid black;

}
#wrapper {
    width: 100%;
    background-color: rgb(194, 194, 194);
    height: 1000px;
    margin: 0 auto;
    overflow: auto;
    
}
body{
  display: block;
  margin: 8px;
  direction: rtl;
  padding: 0px;
}
.nav li{
    text-decoration: none;
    font-size: 35px;
   
    margin-right: 5%;
    display: inline-block;
    margin-top: 10px;
}
.nav li a{
    text-decoration: none;
    color: white;
    font-size: 50%;
}
 .nav li{
    color:yellow;
    padding:10px;
    border-radius:10px;
    animation:hue 5s linear infinite;
    -webkit-animation: hue 5s linear infinite;
    box-shadow: 0px 0px 50px yellow;
    color:white;
    background:rgba(255,255,0,0.4);
    
   }
   #nav:hover{
    color:yellow;
    background:transparent;
   }
   @keyframes hue{
   0%{
   filter:hue-rotate(0deg);
   -webkit-filter:hue-rotate(0deg);
   }
   10%{
   box-shadow: 0px 1px 50px yellow;
   }
   20%{
   box-shadow: 1px 1px 50px yellow;
   }
   30%{
   box-shadow: 1px 0px 50px yellow;
   }
   40%{
    box-shadow: 1px -1px 50px yellow;
   }
   50%{
   box-shadow: 0px -1px 50px yellow;
   }
   60%{
   box-shadow: -1px -1px 50px yellow;
   }
   70%{
   box-shadow: -1px 0px 50px yellow;
   }
   80%{
   box-shadow: -1px 1px 50px yellow;
   }
   90%{
   box-shadow: 0px 1px 50px yellow;
   }
   100%{
   filter:hue-rotate(360deg);
   -webkit-filter:hue-rotate(360deg);
   }
   }
   .text {
    padding-bottom:50px;
   }
    .back {
     font-size:25px;
     margin-top:10px;
     display:block;
     line-height:55px;
     width:20%;
     text-decoration:none;
     height:50px;
     background:white;
     color:black;
     border-radius:15px;
    }
    .back:hover{
     border:2px solid white;
     background:transparent;
     box-sizing:border-box;
     color:white;
    }
    .pointer {cursor: pointer;}
 .nav li{
    width: 10%;
    
 }
